<h1 class="my-3 text-center">Редактировать статью</h1>
<div class="col-sm-6 mx-auto">
  <form action="/php/handlerAddArticle.php" method="post">
    <div class="mb-3">
      <input id="title" ame="title" type="text" class="form-control" placeholder="Заголовок">
    </div>
    <div class="mb-3">
      <textarea id="article" name="article" class="form-control" placeholder="Контент"></textarea>
    </div>
    <div class="mb-3">
      <input id="" type="text" class="form-control" name="author" placeholder="Автор">
    </div>
    <div class="mb-3">
      <input type="submit" class="form-control btn btn-primary" value="Сохранить>
    </div>
  </form>
</div>
<h2 id="title"></h2>
      <div id="article"></div>
      <p id="author"></p>
      <script>
        let articleId = location.pathname.split('/')[2];
        let title = document.getElementById('title');
        let article = document.getElementById('article');
        let author = document.getElementById('author');
        fetch(`/get/Article/${articleId}`)
                .then(function (response){return response.json()})
                .then(function (result){
                  console.log(result);
                  title.innerText = result.title;
                  article.innerText = result.article;
                  author.innerText = "Автор: "+result.author;
                })
      </script>